/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderInput:checked + .slider {
  background-color: #2196F3;
}

.sliderInput:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.sliderInput:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Checkbox*/
input[type=checkbox] {
    padding: 9px;
    background-color: white;
    border: 0px solid transparent;
    border-radius: 0px;
    background-size: 100% 100%;
    -webkit-appearance: none;
    background-image: url("checkbox_unchecked.png");
    background-repeat: no-repeat;
}
input[type=checkbox]:checked {
    background-size: 100% 100%;
    -webkit-appearance: none;
    background-image: url("checkbox_checked.png");
    background-repeat: no-repeat;
}

/*Radio*/
input[type=radio] {
    width: 15pt;
    height: 14pt;
    background-color: white;
    border: 1px solid transparent;
    background-size: 100% 100%;
    -webkit-appearance: none;
    background-image: url("radio_unchecked.png");
    background-repeat: no-repeat;
}
input[type=radio]:checked {
    background-size: 100% 100%;
    -webkit-appearance: none;
    background-image: url("radio_checked.png");
    background-repeat: no-repeat;
}